.g-bg-darkblue-opacity-0_1 {
    background-color: rgba(0, 113, 188, 0.6) !important;
}

.hs-menu-initialized.hs-menu-horizontal .hs-mega-menu.hs-position-right {
    right: unset!important;
}

.g-bg-gold {
    background-color: #1B1464;
}

.g-bg-gold-dark {
    background-color: #0b93d5;
}

.g-color-green-light {
    color: #4bff00 !important;
}

.u-header__section--light .navbar-nav:not([class*="u-main-nav-v"]) .nav-link, .u-header__section--light--shift.js-header-change-moment .navbar-nav:not([class*="u-main-nav-v"]) .nav-link {
    color: #1B1464!important;
}

.g-bg-main-opacity-0_9--after::after {
    background-color: #0b93d5!important;
}

.u-btn-primary {
    color: #fff;
    background-color: #0b3e6f;
}

.u-btn-black {
    color: #fff;
    background-color: #0b3e6f;
}

.g-bg-main {
    background-color: #1B1464 !important;
}

.g-brd-main {
    border-color: #1B1464 !important;
}

.g-bg-darkblue {
    background-color: #1B1464!important;
}

@media (max-width: 992px) {
    .hide-on-mobile {
        display: none;
    }
    .mobile-margin-200 {
        margin-top: 200px!important;
    }
}
@media (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
}

/* fixed social*/
#fixed-social {
    position: fixed;
    top: 230px;
}

#fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
}
#fixed-social a:hover>span{
    visibility: visible;
    left: 41px;
    opacity: 1;
}
#fixed-social a span {
    line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}
.fixed-facebook{
    background-color: #00AAE5;
}
.fixed-facebook span{
    background-color: #00AAE5;
}
.fixed-twitter{
    background-color: #7D3895;

}
.fixed-twitter span{
    background-color: #7D3895;
}
.fixed-gplus{
    background-color: #00AF54;

}
.fixed-gplus span{
    background-color: #00AF54;
}
.fixed-linkedin{
    background-color: #0b011d;

}
.fixed-linkedin span{
    background-color: #FFC41E;
}
.fixed-instagrem{
    background-color: #ED2B29;

}
.fixed-instagrem span{
    background-color: #ED2B29;
}
.fixed-tumblr{
    background-color: #EB1471;

}
.fixed-tumblr span{
    background-color: #EB1471;
}
/*end fixed social*/

